@model StudentsApi.ModelsUse.LoginSecretary

@{
    Layout = null;
}

<h1 align="center"> Secretary </h1>
<html>

<body background= "http://betheme.muffingroupsc.netdna-cdn.com/be/clinic/wp-content/uploads/2015/02/home_clinic_staff_bg.jpg">

    <div align="center"><img src="http://www.rietchittor.ac.in/a1.gif" height="200" width="200"></div>
   
    <div align="center">

        <a href="@Url.Action("Index", "Home", null)">
            <img src="https://1.bp.blogspot.com/-ZgosbqwBn3U/V0zRkAT2VfI/AAAAAAAAAWU/A9yrPOMajMkactZByI1-pKeti8iB1bpgACK4B/s1600/RiGK49MxT.png" style="vertical-align: sub; width: 100px;">
            <b>Home</b> <a />

            <br></br>
            <a href="@Url.Action("Create", "Consultation", null)">
                <img src="http://www.inwoodpharmacy.com/wp-content/uploads/2015/08/consultationicon.png" style="vertical-align: sub; width: 100px;">
                <b>Add Consultation</b> <a />

            <br> </br>
            <a href="@Url.Action("Edit/1", "Consultation", null)">
                 <img src="http://web.ud.ac.th/wp-content/uploads/2017/01/icon-ts-320x320.png" style="vertical-align: sub; width: 100px;">
                 <b>Edit Consultation</b> <a />

             <br></br>
             <a href="@Url.Action("Delete/1", "Consultation", null)">
                  <img src="http://icons.iconarchive.com/icons/creative-freedom/shimmer/256/Document-Delete-icon.png" style="vertical-align: sub; width: 100px;">
                   <b>Delete Consultation</b> <a />

             <br></br>
             <a href="@Url.Action("Create", "Patient", null)">
                    <img src="http://artistsvalley.com/images/icons/Medical%20Healthcare%20Icons%20Var/Patient%20History%20Male%20Add/256x256/Patient%20History%20Male%20Add.jpg" style="vertical-align: sub; width: 100px;">
                    <b>Add Patient</b> <a />

              <br></br>
              <a href="@Url.Action("Edit/1", "Patient", null)">
                    <img src="http://artistsvalley.com/images/icons/Medical%20Healthcare%20Icons%20Var/Patient%20Male%20Delete/256x256/Patient%20Male%20Delete.jpg" style="vertical-align: sub; width: 100px;">
                    <b>Delete Patient</b> <a />

</div>


 


    
  

</body>
</html> 